<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>New</title>
  </head>
  <body>
    <form action="/new" method="POST" class="form-group" role="form">
       <label for="exampleFormControlTextarea1">This new post</label>
       <textarea class="form-control" name="content" id="exampleFormControlTextarea1" rows="6"></textarea>
     <br>
     <button type="submit" class="btn btn-primary">Submit</button>
 </form>
      <br>
      <h4>Create post</h4>

  </body>
</html>
